<Card title="Donations to date">
  <table class="table is-fullwidth">
    <thead>
      <th>Amount</th>
      <th>Method</th>
      <th>Lighthouse</th>
      <th>Donor</th>
    </thead>
    <tbody>
      {{#each donations}}
      <tr>
        <td>
          {{amount}}
        </td>
        <td>
          {{method}}
        </td>
        <td>
          {{lighthouse.lastName}}, {{lighthouse.firstName}}
        </td>
        <td>
          {{donor}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</Card>