<Card title="Donations to date">
  <table class="table is-fullwidth">
    <thead>
      <th>Amount</th>
      <th>Method</th>
      <th>Lighthouse</th>
      <th>Donor</th>
    </thead>
    <tbody>
      {{#each donations}}
      <tr>
        <td>
          {{amount}}
        </td>
        <td>
          {{method}}
        </td>
        <td>
          {{lighthouse.lastName}}, {{lighthouse.firstName}}
        </td>
        <td>
          {{donor}}
        </td>
        <td>
        <a href="/report/deletedonation/{{_id}}" class="ui icon button">
          <i class="fas fa-trash"></i>
        </a>
      </td>
      <td>
        <a href="/report/editdonation/{{_id}}" class="ui icon button">
          <i class="fas fa-edit"></i>
        </a>
      </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</Card>